body {
    background-color: antiquewhite;
    margin: 0;
    padding: 0;
    color: #42403d;
}

.container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #fce9cd;
    background-color: #42403d;
}

.body {
    display: flex;
    justify-content: center;
    margin: 32px;
    margin-top: 64px;
    font-size: 16px;
}

.results {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.score {
    display: flex;
    justify-content: center;
}

.displayScore {
    margin: 0px 128px;;
}

.footer {
    background-color:#42403d;
    color: #fce9cd;
    text-align: center;
    margin-top: 16px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }

.modal-content button {
    padding: 12px;
    font-size: 16px;
}
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

button {
    font-size: 48px;
    border-radius: 8px;
    border: none;
    background-color: #42403d;
    color: white;
    margin: 0px 64px;
}

.body button{
    padding: 16px 24px;
}

button:hover {
    background-color: grey;
}

#emoji  {
    font-size: 64px;
}